.nav-menu .active{
    color: #BFA05C;
    position: relative;
}

.nav-link::after{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    transition: all 0.5s;
}

.nav-menu .active::after{
    border: 1px solid #BFA05C;
    width: 100%;
}